*{
    font-family: 'Courier New', monospace;
    background-color: rgb(235, 225, 225);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: grey;
    height: 100vh;
}

.page1{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
}

.header{
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
}

.recipes-list{
    list-style-position: inside;
    text-align: center;
    line-height: 2;
    padding: 25px;
}

.recipes-list li{
    list-style-type: none;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.recipes-list li:hover{
    background-color: tomato;
    color: brown;
}


.recipes-list a{
    text-decoration: none;
    color: black;
    font-weight: thin;
    border-radius: 10px;
    padding: 10px;
}

.back{
    background-color: rgb(235, 225, 225);
    height: 100vh;
}

.recipe-header{
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

img{
    display: block;
    margin: 15px auto;
}

.desc,
.ingred,
.steps{
    padding: 10px;
    font-size: 1.5rem;
    color: tomato;
    margin: 15px;
}

p,
ul,
ol,
li{
    padding: 10px;
    font-size: 1rem;
    margin-left: 25px;
    margin-right: 25px;
}

